@model Library_Project.Models.Book
@{
    ViewBag.Title = "GetBookById";
    Layout = "~/Views/Shared/_MyLayout.cshtml";
}

<h2>GetBookById</h2>
<table class="table table-bordered">
    <tr>
        <td>BookId</td>
        <td>BookName</td>
        <td>BookDescription</td>
    </tr>
     <tr>
            <td>@Model.BookId</td>
            <td>@Model.BookName</td>
            <td>@Model.BookDescription</td>
         <td>
             @Html.ActionLink("Update", "UpdateBook", new { @BookId = Model.BookId }) || <span></span>
             @Html.ActionLink("Delete", "DeleteBook", new { @BookId = Model.BookId })
         </td>
        </tr>
    
    
</table>
@Html.ActionLink("Go to Books", "GetBooks")
