@model List<Library_Project.Models.Book>

@{
    ViewBag.Title = "GetBooks";
    Layout = "~/Views/Shared/_MyLayout.cshtml";
}
<link href="~/CSS/StyleSheet1.css" rel="stylesheet" type="text/css" />
<form method="post" action="~/Library/GetBookByName">
    <input type="text" name="BookName" style="width: 226px; margin-left: 366px;" placeholder="Enter Id/Book Name  to get the Book" value="" class="form-control" /><br />
    <input type="submit" class="btn btn-success" />
</form>
<br />
<table class="table table-bordered">
    <tr>
        @*<th class="class1">BookId</th>*@
        <th class="class1">BookName</th>
        <th class="class1">BookDescription</th>
        <th>BookImage</th>
        <th class="class1">Action</th>
        <th class="class1">Upload/Download</th>
</tr>
    @foreach(var item in Model )
    {
        <tr>
            @*<td>@item.BookId</td>*@
            <td>@item.BookName</td>
            <td>@item.BookDescription</td>
            <td>
                <img src="data:image;base64,@System.Convert.ToBase64String(item.BookImage)" width="80" height="80" /> 
            </td>
            <td>
                @Html.ActionLink("Update", "UpdateBook", new { @BookId = item.BookId }) || <span></span>
                @Html.ActionLink("Delete", "DeleteBook", new { @BookId = item.BookId })  <span></span>
            </td>
            <td>
                @Html.ActionLink("Upload", "UploadBook", new { @BookId = item.BookId })  || <span></span>
                @Html.ActionLink("Download", "DownloadBook", new { @BookId = item.BookId })
                
            </td>
        </tr>
    }
    @*<tr>
        @Html.ActionLink("Add", "AddBook")
    </tr>*@
</table>

@*@Html.ActionLink("Add a new Book to Library", "AddBook")*@
